.container {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.statistic-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card.blue {
  background-color: #4e73df;
}

.card.green {
  background-color: #1cc88a;
}

.card.yellow {
  background-color: #f6c23e;
}

.card.red {
  background-color: #e74a3b;
}

.chart-section {
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-section {
  margin-bottom: 20px; /* Tạo khoảng cách giữa bộ lọc và các phần khác */
}

.filter-section label {
  display: inline-block; /* Để mỗi label nằm ngang */
  margin-right: 15px; /* Khoảng cách giữa các label */
}

.filter-section input {
  margin-left: 5px; /* Khoảng cách giữa label và input */
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.dashboard-card {
  background: #f7f9fc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  color: #333;
}

.dashboard-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.dashboard-card p {
  font-size: 24px;
  color: #555;
  font-weight: bold;
}

a {
  text-decoration: none;
}